<div class="wrapper section-st section-st_big-bottom">
  <div class="container">
    <div class="about-build">
      <div class="tt-site about-build__tt tt-site_h2 txt-normal">More a destination <span>than a workspace</span></div>
      <div class="txt-md txt-md_mb about-build__txt">
        <p>The Future Works is a true meeting place for work, leisure and culture. Offering 360,000 sq ft of Grade A office space, rooftop gardens, restaurants, cafés and public spaces, all in the heart of one of the UK's most culturally diverse, commercially successful and best connected towns.</p>
      </div>
      <div class="grd-btns">
        <a href="#" class="btn btn_border btn_five btn_min-width_sm">View buildings </a>
        <a href="#" class="btn btn_border btn_five btn_min-width_sm">Check availability </a>
      </div>
    </div>
  </div>
</div>
