<div class="bl-banner">
  <div class="bl-banner__frames">
    {% include 'blocks/_deco.twig' %}
  </div>
  
  <div class="bl-banner__inner" data-slider-banner>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide banner-slide">
          <div class="banner-slide__img">
            <img src="img/banner1.jpg" alt="">
          </div>
          <div class="banner-slide__info wrapper container">
            <h1>
              The Campus. <br> Explore a new commercial quarter
            </h1>
          </div>
        </div>

        <div class="swiper-slide banner-slide">
          <div class="banner-slide__img">
            <img src="img/banner1.jpg" alt="">
          </div>
          <div class="banner-slide__info wrapper container">
            <h1>
              The Campus. <br> Explore
            </h1>
          </div>
        </div>

        <div class="swiper-slide banner-slide">
          <div class="banner-slide__img">
            <img src="img/banner1.jpg" alt="">
          </div>
          <div class="banner-slide__info wrapper container">
            <h1>
              The Campus. <br> Explore a new commercial quarter
            </h1>
          </div>
        </div>

      </div>

      <div class="swiper-pagination swiper-pagination_banner"></div>
    </div>
  </div>
</div>
