<div class="dark-banner-st wrapper">
  <div class="container">
    <div class="dark-banner-st__subtt txt-up">Read next</div>
    <div class="dark-banner-st__tt tt-site tt-site_h1 txt-normal">Availability</div>
  </div>
</div>
