<div class="building-cards section-st wrapper section-st_dark section-st_frame section-st_mega pb--012-mb pt--012-mb">
  
  <div class="building-cards__deco">
    {% include 'blocks/_deco.twig' %}
  </div>
  {# <div class="frame-st frame-st_left-middle">
    <div class="frame-st__one">
      <img src="img/sct-frame8.png" alt="icon">
    </div>
    <div class="frame-st__two">
      <img src="img/sct-frame7.png" alt="icon">
    </div>
  </div> #}

  <div class="container">
    <div class="grd-st grd-st_three-col">

      <a href="#" class="card-st">
        <div class="card-st__picture">
          <img src="img/card1.jpg" alt="cards img">
          <div class="card-st__picture-txt">
            <span>Pre let opportunities</span>
          </div>
        </div>
        <div class="card-st__info">
          <div class="card-st__number txt-aqua tt-site tt-site_h3"><b>No.3</b></div>
          <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
          <div class="card-st__txt txt-md">
            <div>90,000 sq ft</div>
            <div>Pre let opportunities</div>
          </div>
        </div>
      </a>

      <a href="#" class="card-st">
        <div class="card-st__picture">
          <img src="img/card2.jpg" alt="cards img">
          <div class="card-st__picture-txt">
            <span>Pre let opportunities</span>
          </div>
        </div>
        <div class="card-st__info">
          <div class="card-st__number txt-green tt-site tt-site_h3"><b>No.2</b></div>
          <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
          <div class="card-st__txt txt-md">
            <div>73,512 sq ft</div>
            <div>Available Now</div>
          </div>
        </div>
      </a>

      <a href="#" class="card-st">
        <div class="card-st__picture">
          <img src="img/card3.jpg" alt="cards img">
          <div class="card-st__picture-txt">
            <span>Pre let opportunities</span>
          </div>
        </div>
        <div class="card-st__info">
          <div class="card-st__number txt-blue tt-site tt-site_h3"><b>No.1</b></div>
          <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
          <div class="card-st__txt txt-md">
            <div>170,000 sq ft</div>
            <div>Pre let opportunities</div>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>
