<div class="wrapper">
  <div class="container">
    <div class="box-news box-news_push-bottom">
      <div class="box-news__item">
        <div class="bl-news">
          <div class="bl-news__img">
            <img src="img/news1.jpg" alt="image">
            <div class="box-news__frames">
              {% include 'blocks/_deco.twig' %}
            </div>
          </div>
          <div class="bl-news__info">
            <div class="bl-news__info-wrap">
              <div class="bl-news__icon">
                <img src="img/news-icon1.svg" alt="icon">
              </div>
              <div class="bl-news__tt tt-site tt-site_h2 txt-normal"><span>Roof terrace,</span> sectetur adipiscing elit, sed do eiusmod tempor </div>
              <div class="txt-st">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-news__item">
        <div class="bl-news bl-news_wrap">
          <div class="bl-news__img">
            <img src="img/news2.jpg" alt="image">
            <div class="box-news__frames box-news__frames--right">
              {% include 'blocks/_deco.twig' %}
            </div>
          </div>
          <div class="bl-news__info">
            <div class="bl-news__info-wrap">
              <div class="bl-news__icon">
                <img src="img/news-icon2.svg" alt="icon">
              </div>
              <div class="bl-news__tt tt-site tt-site_h2 txt-normal"><span>Landscaping,</span> sectetur adipiscing elit, sed do eiusmod tempor  </div>
              <div class="txt-st">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-news__item">
        <div class="bl-news">
          <div class="bl-news__img">
            <a href="#" class="circle-btn">
              Placeholder
            </a>
            <img src="img/news3.jpg" alt="image">
          </div>
          <div class="bl-news__info">
            <div class="bl-news__info-wrap">
              <div class="bl-news__icon">
                <img src="img/news-icon3.svg" alt="icon">
              </div>
              <div class="bl-news__tt tt-site tt-site_h2 txt-normal"><span>Leisure, </span>sectetur adipiscing elit, sed do eiusmod tempor </div>
              <div class="txt-st">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-news__item">
        <div class="bl-news bl-news_wrap">
          <div class="bl-news__img">
            <img src="img/news4.jpg" alt="image">
          </div>
          <div class="bl-news__info">
            <div class="bl-news__info-wrap">
              <div class="bl-news__icon">
                <img src="img/news-icon4.svg" alt="icon">
              </div>
              <div class="bl-news__tt tt-site tt-site_h2 txt-normal"><span>Retail,</span> sectetur adipiscing elit, sed do eiusmod tempor </div>
              <div class="txt-st">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-news__item">
        <div class="bl-news">
          <div class="bl-news__img" data-slide-img-one>
            <a href="#" class="circle-btn">
              Placeholder
            </a>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/news5.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                  <img src="img/news6.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                  <img src="img/news1.jpg" alt="image">
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination_inner swiper-pagination_right"></div>
            </div>
            <div class="box-news__frames box-news__frames--bottom">
              {% include 'blocks/_deco.twig' %}
            </div>

          </div>
          <div class="bl-news__info">
            <div class="bl-news__info-wrap">
              <div class="bl-news__icon">
                <img src="img/news-icon1.svg" alt="icon">
              </div>
              <div class="bl-news__tt tt-site tt-site_h2 txt-normal"><span>Food trucks,</span> sectetur adipiscing elit, sed do eiusmod tempor </div>
              <div class="txt-st">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-news__item">
        <div class="bl-news bl-news_wrap">
          <div class="bl-news__img" data-slide-img-one>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/news6.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                  <img src="img/news5.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                  <img src="img/news4.jpg" alt="image">
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination_inner swiper-pagination_right swiper-pagination_second"></div>
            </div>
          </div>
          <div class="bl-news__info">
            <div class="bl-news__info-wrap">
              <div class="bl-news__icon">
                <img src="img/news-icon2.svg" alt="icon">
              </div>
              <div class="bl-news__tt tt-site tt-site_h2 txt-normal"><span>Bleachers,</span> sectetur adipiscing elit, sed do eiusmod tempor </div>
              <div class="txt-st">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
