<div class="section-st wrapper section-st_mega pb--07-mb">
  <div class="container">
    <div class="cap-section-middle">
      <div class="tt-site tt-site_h2 txt-normal"><span>Amenities</span>, lorem ipsum dolor sit amet</div>
    </div>
  </div>
</div>
