<div class="build-image">
  <div class="build-image__frames-wrapper">
    <div class="build-image__frames">
      {% include 'blocks/_deco.twig' %}
    </div>
  </div>
  
  <div class="build-image__height">
    <img src="img/img-build.jpg" alt="image">
  </div>
</div>
