<div class="tabs-build --tab-one">
  <div class="tabs-build__deco">
    {% include 'blocks/_deco.twig' %}
  </div>

  <div class="body-tab">
    <a href="#" class="circle-btn">
      Needs updating
    </a>
    <div class="body-tab__item _active">
      <img src="img/tab-img1.jpg" alt="image tab">
    </div>
    <div class="body-tab__item">
      <img src="img/tab-img1.jpg" alt="image tab">
    </div>
    <div class="body-tab__item">
      <img src="img/tab-img1.jpg" alt="image tab">
    </div>
    <div class="body-tab__item">
      <img src="img/tab-img1.jpg" alt="image tab">
    </div>
    <div class="body-tab__item">
      <img src="img/tab-img1.jpg" alt="image tab">
    </div>
  </div>
  <div class="wrapper">
    <div class="container mt--2">
      <div class="nav-tab nav-tab_five">
        <div class="nav-tab__item">
          <button class="btn btn_md btn_max btn_tab btn_five btn_border_dark btn_border _current">Commercial</button>
        </div>
        <div class="nav-tab__item">
          <button class="btn btn_md btn_max btn_tab btn_five btn_border_dark btn_border">Retail</button>
        </div>
        <div class="nav-tab__item">
          <button class="btn btn_md btn_max btn_tab btn_five btn_border_dark btn_border">Leisure</button>
        </div>
        <div class="nav-tab__item">
          <button class="btn btn_md btn_two-line btn_max btn_tab btn_five btn_border_dark btn_border">Landscaped public realm</button>
        </div>
        <div class="nav-tab__item">
          <button class="btn btn_md btn_max btn_tab btn_five btn_border_dark btn_border">Transport</button>
        </div>
      </div>
    </div>
  </div>
</div>
