<div class="timeline wrapper">
  <div class="timeline__deco timeline__deco--l">
    {% include 'blocks/_deco--single.twig' %}
  </div>

  <div class="timeline__deco timeline__deco--r">
    {% include 'blocks/_deco--single.twig' %}
  </div>

  <div class="timeline__deco timeline__deco--rb">
    {% include 'blocks/_deco--single.twig' %}
  </div>
  
  

  <div class="container">
    <div class="cap-sct">
      <div class="tt-site tt-site_h3 txt-normal">Timeline, lorem ipsum dolor sit amet</div>
    </div>
    <div class="time-line-list">

      <div class="time-line-item">
        <div class="time-line-item__inner">
          <div class="time-line-item__icon">
            <svg class="icon icon_img">
              <use xlink:href="img/sprite.svg#img"></use>
            </svg>
          </div>
          <div class="time-line-item__tt">
            March 2021
          </div>
          <div class="time-line-item__txt txt-sm txt-sm_second txt-up">
            Planning Permission Granted for <br>No.1 + No.3 The Future Works
          </div>
        </div>
      </div>
      <!-- ._left from alone block -->
      <!-- .mb--09 from indent design -->
      <div class="time-line-item _left mb--09 mb--11-mb">
        <div class="time-line-item__inner">
          <div class="time-line-item__icon">
            <svg class="icon icon_img">
              <use xlink:href="img/sprite.svg#img"></use>
            </svg>
          </div>
          <div class="time-line-item__tt">
            July 2020
          </div>
          <div class="time-line-item__txt txt-sm txt-sm_second txt-up">
            The Future Works Instant Launches <br> space of 6,900 sq ft which is available <br> to occupiers immediately, reducing the
          </div>
        </div>
      </div>

      <div class="time-line-item mb--11-mb">
        <div class="time-line-item__inner">
          <div class="time-line-item__icon">
            <svg class="icon icon_img">
              <use xlink:href="img/sprite.svg#img"></use>
            </svg>
          </div>
          <div class="time-line-item__tt">
            July 2020
          </div>
          <div class="time-line-item__txt txt-sm txt-sm_second txt-up">
            Nominated for the best workspace award Setting new standards for technology, wellness &amp; sustainability in office buildings,
          </div>
        </div>
      </div>

      <div class="time-line-item mb--09">
        <div class="time-line-item__inner">
          <div class="time-line-item__icon">
            <svg class="icon icon_img">
              <use xlink:href="img/sprite.svg#img"></use>
            </svg>
          </div>
          <div class="time-line-item__tt">
            June 2019
          </div>
          <div class="time-line-item__txt txt-sm txt-sm_second txt-up">
            The Future Works is the first building in the UK to be awarded AirScore Platinum
          </div>
        </div>
      </div>

      <div class="time-line-item">
        <div class="time-line-item__inner">
          <div class="time-line-item__icon">
            <svg class="icon icon_img">
              <use xlink:href="img/sprite.svg#img"></use>
            </svg>
          </div>
          <div class="time-line-item__tt">
            May 2018
          </div>
          <div class="time-line-item__txt txt-sm txt-sm_second txt-up">
            The Future Works is shortlisted for an innovation award at the EG Tech Awards
          </div>
        </div>
      </div>

      <div class="time-line-item">
        <div class="time-line-item__inner">
          <div class="time-line-item__icon">
            <svg class="icon icon_img">
              <use xlink:href="img/sprite.svg#img"></use>
            </svg>
          </div>
          <div class="time-line-item__tt">
            Jan<span class="hidden-mob">uary</span> 2013
          </div>
          <div class="time-line-item__txt txt-sm txt-sm_second txt-up">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
