<div class="contact full-section section-hidden full-section_first wrapper pb--10">
  <div class="contact__deco">
    {% include 'blocks/_deco.twig' %}
  </div>
  <div class="contact__deco-right">
    {% include 'blocks/_deco.twig' %}
  </div>

  <div class="container">
    <div class="contact-box">
      <div class="tt-site_h1_big tt-site mb--07 mb--09-mb">Get in touch</div>
      <div class="tt-site_h3 tt-site mb--05"><b><span>Sales</span> Team</b></div>
      <div class="contact-grid mb--04">
        <div class="contact-grid__item logo-contact">
          <img src="img/logo-contact1.svg" alt="logotype">
        </div>
        <div class="contact-grid__item">
          <div class="contact-grid__tt">James Finnis</div>
          <div class="contact-grid__point">
            <span>T</span>
            <a href="tel:+4402082832534">+44 (0)20 8283 2534</a>
          </div>
          <div class="contact-grid__point">
            <span>E</span>
            <a href="mailto:james.finnis@eu.jll.com">james.finnis@eu.jll.com</a>
          </div>
        </div>
        <div class="contact-grid__item">
          <div class="contact-grid__tt">Charles West</div>
          <div class="contact-grid__point">
            <span>T</span>
            <a href="tel:+44 (0)20 7087 5668">+44 (0)20 7087 5668</a>
          </div>
          <div class="contact-grid__point">
            <span>E</span>
            <a href="mailto:charles.west@eu.jll.com">charles.west@eu.jll.com</a>
          </div>
        </div>
        <div class="contact-grid__item">
          <div class="contact-grid__tt">Bridget Partridge</div>
          <div class="contact-grid__point">
            <span>T</span>
            <a href="tel:+44 (0)20 7087 5668">+44 (0)20 7399 5349</a>
          </div>
          <div class="contact-grid__point">
            <span>E</span>
            <a href="mailto:bridget.partridge@eu.jll.com">bridget.partridge@eu.jll.com</a>
          </div>
        </div>
      </div>
      <div class="contact-grid mb--7">
        <div class="contact-grid__item logo-contact">
          <img src="img/logo-contact2.svg" alt="logotype">
        </div>
        <div class="contact-grid__item">
          <div class="contact-grid__tt">James Finnis</div>
          <div class="contact-grid__point">
            <span>T</span>
            <a href="tel:+4402082832534">+44 (0)20 8283 2534</a>
          </div>
          <div class="contact-grid__point">
            <span>E</span>
            <a href="mailto:james.finnis@eu.jll.com">james.finnis@eu.jll.com</a>
          </div>
        </div>
        <div class="contact-grid__item">
          <div class="contact-grid__tt">Charles West</div>
          <div class="contact-grid__point">
            <span>T</span>
            <a href="tel:+44 (0)20 7087 5668">+44 (0)20 7087 5668</a>
          </div>
          <div class="contact-grid__point">
            <span>E</span>
            <a href="mailto:charles.west@eu.jll.com">charles.west@eu.jll.com</a>
          </div>
        </div>
        <div class="contact-grid__item">
          <div class="contact-grid__tt">Bridget Partridge</div>
          <div class="contact-grid__point">
            <span>T</span>
            <a href="tel:+44 (0)20 7087 5668">+44 (0)20 7399 5349</a>
          </div>
          <div class="contact-grid__point">
            <span>E</span>
            <a href="mailto:bridget.partridge@eu.jll.com">bridget.partridge@eu.jll.com</a>
          </div>
        </div>
      </div>

      <div class="tt-site_h3 tt-site tt-site_inner-green mb--04"><b><span>Development</span> Team</b></div>
      <div class="grid-logo mb--6 mb--04-mb">
        <div class="grid-logo__item">
          <img src="img/logo-contact3.png" alt="logotype">
        </div>
        <div class="grid-logo__item logo-contact logo-contact_push-top">
          <img src="img/logo-contact4.svg" alt="logotype">
        </div>
      </div>

      <div class="tt-site_h3 tt-site tt-site_inner-blue mb--07 mb--3-mb"><b><span>Downloads</span></b></div>



      <div class="card-contact-grid">
        <div class="card-dwnld">
          <a href="#file-url-here" class="card-dwnld__link"></a>
          <div class="card-dwnld__img">
            <svg class="icon icon_castle-big">
              <use xlink:href="img/sprite.svg#castle-big"></use>
            </svg>
            <svg class="icon icon_down">
              <use xlink:href="img/sprite.svg#down"></use>
            </svg>
          </div>
          <div class="card-dwnld__info">
            <div class="card-dwnld__name txt-st">Brochure</div>
            <div class="card-dwnld__value txt-sm txt-boulder">7MB</div>
          </div>
        </div>
        <div class="card-dwnld">
          <a href="#file-url-here" class="card-dwnld__link"></a>
          <div class="card-dwnld__img">
            <svg class="icon icon_castle-big">
              <use xlink:href="img/sprite.svg#castle-big"></use>
            </svg>
            <svg class="icon icon_down">
              <use xlink:href="img/sprite.svg#down"></use>
            </svg>
          </div>
          <div class="card-dwnld__info">
            <div class="card-dwnld__name txt-st">Brochure</div>
            <div class="card-dwnld__value txt-sm txt-boulder">7MB</div>
          </div>
        </div>
        <div class="card-dwnld">
          <a href="#file-url-here" class="card-dwnld__link"></a>
          <div class="card-dwnld__img">
            <svg class="icon icon_castle-big">
              <use xlink:href="img/sprite.svg#castle-big"></use>
            </svg>
            <svg class="icon icon_down">
              <use xlink:href="img/sprite.svg#down"></use>
            </svg>
          </div>
          <div class="card-dwnld__info">
            <div class="card-dwnld__name txt-st">Brochure</div>
            <div class="card-dwnld__value txt-sm txt-boulder">7MB</div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

{% include './_popup-feedback.twig' %}