.talent {
  position: relative;
  padding-top: 173px;
  padding-bottom: 192px;

  background-color: $accent-blue;
  color: $white;

  @include md-down {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__deco-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: -600px;
    pointer-events: none;
    user-select: none;
  }

  &__deco {
    width: 420px;
    position: absolute;
    right: 0;
    top: 28%;
    transform: translateX(51%);

    @include md-down {
      width: 290px;
      top: 26%;
    }
  }

  &__cont {
    @extend %cont;
    position: relative;
    z-index: 1;
  }

  &__grid {
    @include row();
  }

  &__title {
    @include col(24);
    @extend %h1;

    margin-bottom: 25px;
    text-align: center;

    @include md-down {
      margin-bottom: 35px;
    }
  }

  &__text {
    @include col(20);
    @include offset(2);
    @extend %text;

    text-align: center;

    @include md-down {
      @include col(24);
      @include offset(0);

      font-size: 22px;
      line-height: (32/22);
    }
  }

  &__items {
    @include row();
    // @include col(24)

    margin-top: 97px;
  }

  &__item {
    @include col(8);

    @include md-down {
      @include col(24);

      margin-bottom: 43px;
    }

    &--green {
      color: $accent-green;
    }
    &--blue {
      color: $accent-aqua;
    }
  }

  &__item-inner {
    padding: 0 25px;

    @include md-down {
      padding: 0 17px;
    }
  }

  &__circle {
    position: relative;
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgba(#fff, .2);

    svg {
      width: 100%;
      // transform: rotate(-90deg);
      transform: rotate(-90deg) scale(1.005);
      opacity: 0;
    }
  }

  &__item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 247px;
    max-width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    color: inherit;
  }

  &__note {
    @include col(24);

    margin-top: 70px;
    text-align: center;
    font-size: 12px;
    line-height: (18/12);

    @include md-down {
      margin-top: 0px;
    }
  }
}
