<footer class="footer wrapper">
    <div class="footer__container container">
        <div class="footer__decor">
            <img class="footer__decor-1" src="img/footer-decor-el.svg" alt="">
            <img class="footer__decor-2" src="img/footer-decor-el.svg" alt="">
        </div>
        <a class="footer__logo" href="home.html">
            {% include 'img/_logo-icon.twig' %}
        </a>
        <div class="footer__lists">
            <ul class="footer__links">
                <li><a class="footer__link" href="">The Campus</a></li>
                <li><a class="footer__link" href="">Specification</a></li>
                <li><a class="footer__link" href="">Availability</a></li>
                <li><a class="footer__link" href="">Connectivity</a></li>
                <li><a class="footer__link" href="">About Slough</a></li>
                <li><a class="footer__link" href="">Contact &amp; Downloads</a></li>
            </ul>
            <ul class="footer__links">
                <li><a class="footer__link" href="">Terms of Use</a></li>
                <li><a class="footer__link" href="">Privacy Policy</a></li>
                <li><a class="footer__link" href="">Site Credits</a></li>
                <li><span class="footer__link footer__copy">&copy; 2021 The Future Works</span></li>
            </ul>
        </div>
    </div>
</footer>
