<div class="menu wrapper" id="menu">
    <div class="menu__container container">
        <ul class="menu__list">
            <li><a class="menu__lilnk" href="building.html">The Campus</a></li>
            <li><a class="menu__lilnk" href="">Specification</a></li>
            <li><a class="menu__lilnk" href="">Availability</a></li>
            <li><a class="menu__lilnk" href="">Connectivity</a></li>
            <li><a class="menu__lilnk" href="">About Slough</a></li>
            <li><a class="menu__lilnk" href="">Contact &amp; Downloads</a></li>
        </ul>
    </div>
</div>
