---
title: Connectivity - Future Works
description: Future Works description
pageName: connectivityPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="section-hidden">
      {% include 'pages/connectivity/_banner-slider.twig' %}
      {% include 'pages/connectivity/_about.twig' %}
      {% include 'pages/connectivity/_value.twig' %}
      {% include 'pages/connectivity/_news-box.twig' %}

    </div>

    {% include 'pages/connectivity/_map.twig' %}
    {% include 'pages/connectivity/_banner-dark.twig' %}


  </main>
{% endblock %}
