---
title: Default - Future Works
description: Future Works description
pageName: defaultPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="section-st">
      <div class="container">

        <div class="free-shipping">
          btns
        </div>

        <br><br>

        <div class="bl-btns">
          <a href="#" class="btn">46 default button</a>
          <a href="#" class="btn btn_disable">disable</a>
          <a href="#" class="btn btn_min-width">min width 200</a>
          <a href="#" class="btn btn_min-width_sm">min width 181</a>
          <a href="#" class="btn btn_min-width_mini">min width 148</a>
          <a href="#" class="btn btn_second">button second</a>
          <a href="#" class="btn btn_three">button three</a>
          <a href="#" class="btn btn_four">button four</a>
          <a href="#" class="btn btn_five">button five</a>
          <a href="#" class="btn btn_six">button six</a>
          <a href="#" class="btn btn_border">border</a>
          <a href="#" class="btn btn_second btn_border">border second</a>
          <a href="#" class="btn btn_three btn_border">border three</a>
          <a href="#" class="btn btn_four btn_border">border four</a>
          <a href="#" class="btn btn_five btn_border">border five</a>
          <a href="#" class="btn btn_six btn_border">border six</a>
          <a href="#" class="btn btn_sm">34 button small</a>
          <a href="#" class="btn btn_sm btn_sm_text">button small text</a>
          <a href="#" class="btn btn_md">50 button md</a>
          <a href="#" class="btn btn_st btn_no-rad">menu link</a>
          <a href="#" class="btn btn_no-rad">no radius</a>
          <a href="#" class="btn btn_sm-rad">sm radius</a>
          <a href="#" class="btn btn_sm-rad btn_mini btn_mini_text btn_four">News</a>

          <button class="btn">
            <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M-3.06872e-07 7.02041L7.02041 -4.28193e-08L8 0.979592L1.95918 7.02041L8 13.0612L7.02041 14.0408L-3.06872e-07 7.02041Z" fill="currentColor"></path>
            </svg>
          </button>

          <button class="btn">
            <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 7.97959L0.979592 15L-4.28193e-08 14.0204L6.04082 7.97959L-5.70924e-07 1.93878L0.979591 0.959184L8 7.97959Z" fill="currentColor"></path>
            </svg>
          </button>
          <a href="#" class="btn btn_three btn_icon btn_icon_left btn_min-width_mini">
            <span class="btn__icon btn__icon_left">
              <svg class="icon icon_message">
                <use xlink:href="img/sprite.svg#message"></use>
              </svg>
            </span>
            <span class="btn__icon-text">Subscribe</span>
          </a>
          <a href="#" class="btn btn_three btn_icon btn_icon_right btn_min-width_mini">
            <span class="btn__icon-text">Subscribe</span>
            <span class="btn__icon btn__icon_right">
              <svg class="icon icon_message">
                <use xlink:href="img/sprite.svg#message"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="btn btn_three btn_icon btn_icon_big btn_icon_right btn_min-width_mini">
            <span class="btn__icon-text">Request access</span>
            <span class="btn__icon btn__icon_right">
              <svg class="icon icon_castle">
                <use xlink:href="img/sprite.svg#castle"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="btn btn_five btn_icon btn_icon_long btn_icon_right btn_min-width_mini">
            <span class="btn__icon btn__icon_left">
              <svg class="icon icon_chevron-left">
                <use xlink:href="img/sprite.svg#chevron-right"></use>
              </svg>
            </span>
            <span class="btn__icon-text">No.3 The Future Works </span>
          </a>
          <a href="#" class="btn btn_six btn_icon btn_icon_long btn_icon_right btn_min-width_mini">
            <span class="btn__icon-text">No.1 The Future Works</span>
            <span class="btn__icon btn__icon_right">
              <svg class="icon icon_chevron-right">
                <use xlink:href="img/sprite.svg#chevron-left"></use>
              </svg>
            </span>
          </a>
        </div>

        <br><br>

        <div class="free-shipping">
          typography
        </div>

        <br><br>

        <h1 class="tt-site tt-site_h1 tt-site_h1_big">HIRO heading 1</h1>
        <h1 class="tt-site tt-site_h1">Heading 1</h1>
        <h2 class="tt-site tt-site_h2">Heading 2</h2>
        <h3 class="tt-site tt-site_h3">Heading 3</h3>
        <h4 class="tt-site tt-site_h4">Heading 4</h4>
        <h5 class="tt-site tt-site_h5">Heading 5</h5>
        <h6 class="tt-site tt-site_h6">Heading 6</h6>

        <div class="txt-md">Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.  22/32</div>
        <br>

        <div class="txt-st">Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.  14/22</div>
        <br>

        <div class="txt-sm">Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.  12/18</div>
        <br>

        <div class="txt-sm txt-sm_second">Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.  12/14</div>
        <br>

        <div class="txt-up">Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. UPPERCASE</div>
        <br>

        <div class="txt-dark"> DARK color Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-gray"> GRAY color Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-mine-shaft"> MINE SHAFT color Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-boulder">BOULDER color Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-jaffa"> JAFFA color Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-dark">Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-bold">TEXT BOLD Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-medium">TEXT MEDIUM Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-normal">TEXT NORMAL Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <div class="txt-light">TEXT LIGHT Large paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt. </div>
        <br>

        <span class="tt-site_h2 tt-site">Text block</span>
        <div class="txt-bl">
          <p><a href="#">Link st </a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam saepe dolore accusamus molestiae omnis dolorem consectetur laboriosam esse est soluta fuga earum perspiciatis velit optio, <b>eveniet nisi aperiam quia voluptas</b> explicabo. Eveniet vitae, dicta nobis eum et magnam adipisci nesciunt quam, <i>numquam cumque dolore aut perferendis natus!</i></p>
          <h1>h1 price symbol ---------------> ₽ $ € ¥ £ ƒ ₣ ¢ ¤ ฿ ₠ ₡ ₢ ₤ </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
          <div class="txt-center">
            <h2>h2 Text center</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
          </div>
          <div class="txt-right">
            <h3>h3 text right</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
          </div>
          <div class="txt-up">
            <h4>h4 text uppercase</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
          </div>
          <h5>h5 Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
          <h6>h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, similique. Architecto quo cum, sunt consequuntur quaerat, commodi ratione natus laboriosam deserunt error numquam et optio, possimus beatae rem ex. Unde.</p>
          <br>
          <ul>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
          </ul>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam, similique quam blanditiis aperiam accusamus quia. Sed nam ullam ut maiores. Voluptas deleniti delectus, temporibus nam enim vero ea molestiae.</p>
          <br>
          <ol>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
          </ol>
          <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, similique. Architecto quo cum, sunt consequuntur quaerat, commodi ratione natus laboriosam deserunt error numquam et optio, possimus beatae rem ex. Unde.</i></p>
          <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, similique. Architecto quo cum, sunt consequuntur quaerat, commodi ratione natus laboriosam deserunt error numquam et optio, possimus beatae rem ex. Unde.</i></p>
          <p>
            <h6>mathematical fractions</h6>
            ⅟ &frac12; &frac13; &frac14; &frac15; &frac16; &frac18; ⅑ ⅒ &frac23; &frac34; ⅖ ⅗ ⅘ ⅚ ⅜ ⅝ ⅞<br>
            Ⅰ Ⅱ Ⅲ Ⅳ Ⅴ Ⅵ Ⅶ Ⅷ Ⅸ Ⅹ Ⅺ Ⅻ<br>
            1234567890
            <br>
            <br>
            <h6>geometric figures</h6>
            &laquo; &raquo; ← ↑ → ↓ ↔ ↕ ↖ ↗ ↘ ↙ ↤ ↦ ↥ ↧ ↺ ↻ ⤡ ⤢ ⇅ ⇆ ⇇ ⇈ ⇉ ⇊ ⬅ ⬆ ⬇ ⬈ ⬉ ⬊ ⬋ ⬌ ⬍ ⏎ ▲ ▼ ◀ ▶ <br> ★ ☆ ♪ ♫ ♩ ♬ ☑ ✓ ✔ &plusmn; &times; ✕ ✖ ☒ &copy; &reg; &trade; &pi; &#8470; &#9742; &#9993;<span class="txt-hidden"><b>text hidden  → </b>Tau­ma­ta­wha­ka­tan­gi­han­ga­ko­au­au­ota­ma­tea­tu­ri­pu­ka­ka­pi­ki­ma­u­nga­ho­ro­nu­ku­po­kai­whe­nu­a­ki­ta­na­ta­hu</span>
          </p>
          <br>
        </div>

        <br>
        <br><br>

        <div class="free-shipping">
          colors
        </div>
        <br><br>

        <div class="circl-blks">
          <div class="circl-bl bg--text-gray"></div>
          <div class="circl-bl bg--accent-green"></div>
          <div class="circl-bl bg--accent-aqua"></div>
          <div class="circl-bl bg--accent-blue"></div>
          <div class="circl-bl bg--color-sunglow"></div>
          <div class="circl-bl bg--color-cream-brulee"></div>
          <div class="circl-bl bg--color-egg-sour"></div>
          <div class="circl-bl bg--color-black"></div>
          <div class="circl-bl bg--color-swiss-coffee"></div>
          <div class="circl-bl bg--color-hint-of-red"></div>
          <div class="circl-bl bg--color-white"></div>
          <div class="circl-bl bg--color-mine-shaft"></div>
          <div class="circl-bl bg--color-boulder"></div>
          <div class="circl-bl bg--color-cod-gray"></div>
          <div class="circl-bl bg--color-jaffa"></div>
        </div>

        <br><br>

      </div>
    </div>

    <div class="section-st txt-white bg--color-black">
      <div class="container">
        <h3>Text light</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium optio nisi necessitatibus, maiores debitis odit vero, animi nemo omnis blanditiis iusto voluptate magnam vitae quas dignissimos maxime autem rerum illum quae deserunt ipsam in mollitia. Aut quaerat voluptatum accusamus est magni qui quibusdam esse harum sapiente, quae soluta ut debitis saepe sequi, delectus necessitatibus ipsum, in dolor ullam dolorem quas. Porro, molestiae! Fugiat quod molestiae perspiciatis placeat corporis recusandae soluta debitis minus tenetur quos in consequuntur, dolorum, sit hic consequatur tempore aliquam. Praesentium, illo deserunt exercitationem corrupti reiciendis perferendis impedit, ad libero dolor iste distinctio ea nam quas. Ab, incidunt!</p>
      </div>
    </div>

    <div class="section-st txt-dark bg--color-jaffa">
      <div class="container">
        <h3>Grids</h3>

        <div class="grd-st grd-st_two-col">
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">Half-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">Half-col</div>
        </div>
        <br>

        <div class="grd-st grd-st_three-col">
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">three-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">three-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">three-col</div>
        </div>
        <br>

        <div class="grd-st grd-st_four-col">
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">four-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">four-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">four-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">four-col</div>
        </div>
        <br>

        <div class="grd-st grd-st_six-col">
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">six-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">six-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">six-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">six-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">six-col</div>
          <div class="btn btn_disable btn_six btn_sm-rad btn_max">six-col</div>
        </div>
      </div>
    </div>

    <div class="section-st txt-dark bg--color-cream-brulee">
      <div class="container">
        <h3>cards</h3>

        <h5>slider</h5>
        <div class="slider-card-wrapp" data-slider-card-three>
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <a href="#" class="card-st card-st_mob-picture">
                  <div class="card-st__picture">
                    <img src="img/card1.jpg" alt="cards img">
                    <div class="card-st__picture-txt">
                      <span>Pre let opportunities</span>
                    </div>
                  </div>
                  <div class="card-st__info">
                    <div class="card-st__number txt-aqua tt-site tt-site_h3"><b>No.3</b></div>
                    <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
                    <div class="card-st__txt txt-md">
                      <div>90,000 sq ft</div>
                      <div>Pre let opportunities</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-st card-st_mob-picture">
                  <div class="card-st__picture">
                    <img src="img/card2.jpg" alt="cards img">
                    <div class="card-st__picture-txt">
                      <span>Pre let opportunities</span>
                    </div>
                  </div>
                  <div class="card-st__info">
                    <div class="card-st__number txt-green tt-site tt-site_h3"><b>No.2</b></div>
                    <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
                    <div class="card-st__txt txt-md">
                      <div>73,512 sq ft</div>
                      <div>Available Now</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-st card-st_mob-picture">
                  <div class="card-st__picture">
                    <img src="img/card3.jpg" alt="cards img">
                    <div class="card-st__picture-txt">
                      <span>Pre let opportunities</span>
                    </div>
                  </div>
                  <div class="card-st__info">
                    <div class="card-st__number txt-blue tt-site tt-site_h3"><b>No.1</b></div>
                    <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
                    <div class="card-st__txt txt-md">
                      <div>170,000 sq ft</div>
                      <div>Pre let opportunities</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-st card-st_mob-picture">
                  <div class="card-st__picture">
                    <img src="img/card3.jpg" alt="cards img">
                    <div class="card-st__picture-txt">
                      <span>Pre let opportunities</span>
                    </div>
                  </div>
                  <div class="card-st__info">
                    <div class="card-st__number txt-blue tt-site tt-site_h3"><b>No.1</b></div>
                    <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
                    <div class="card-st__txt txt-md">
                      <div>170,000 sq ft</div>
                      <div>Pre let opportunities</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- If we need navigation buttons -->
          <div class="btn-canter-wrapp btn-canter-wrapp_plus-pagination">
            <button class="btn btn_slider btn_slider_prev"></button>
            <button class="btn btn_slider btn_slider_next"></button>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination swiper-pagination_st"></div>
        </div>

        <h5>grids</h5>

        <div class="grd-st grd-st_three-col">

          <a href="#" class="card-st card-st_mob-picture">
            <div class="card-st__picture">
              <img src="img/card1.jpg" alt="cards img">
              <div class="card-st__picture-txt">
                <span>Pre let opportunities</span>
              </div>
            </div>
            <div class="card-st__info">
              <div class="card-st__number txt-aqua tt-site tt-site_h3"><b>No.3</b></div>
              <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
              <div class="card-st__txt txt-md">
                <div>90,000 sq ft</div>
                <div>Pre let opportunities</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-st card-st_mob-picture">
            <div class="card-st__picture">
              <img src="img/card2.jpg" alt="cards img">
              <div class="card-st__picture-txt">
                <span>Pre let opportunities</span>
              </div>
            </div>
            <div class="card-st__info">
              <div class="card-st__number txt-green tt-site tt-site_h3"><b>No.2</b></div>
              <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
              <div class="card-st__txt txt-md">
                <div>73,512 sq ft</div>
                <div>Available Now</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-st card-st_mob-picture">
            <div class="card-st__picture">
              <img src="img/card3.jpg" alt="cards img">
              <div class="card-st__picture-txt">
                <span>Pre let opportunities</span>
              </div>
            </div>
            <div class="card-st__info">
              <div class="card-st__number txt-blue tt-site tt-site_h3"><b>No.1</b></div>
              <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
              <div class="card-st__txt txt-md">
                <div>170,000 sq ft</div>
                <div>Pre let opportunities</div>
              </div>
            </div>
          </a>

        </div>

      </div>
    </div>
  </main>
{% endblock %}
