---
title: Pages - Future Works
description: Future Works description
pageName: pagesPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
      <ul class="pages">
          <li><a href="default.html">Default page</a></li>
          <li><a href="home.html">Home</a></li>
          <li><a href="building.html">Building</a></li>
          <li><a href="availability.html">Availability [1]</a></li>
          <li><a href="availability2.html">Availability [2]</a></li>
          <li><a href="availability3.html">Availability [3]</a></li>
          <li><a href="values.html">Values</a></li>
          <li><a href="connectivity.html">Connectivity</a></li>
          <li><a href="why.html">Why Slough</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="terms.html">Terms</a></li>
          <li><a href="404.html">404</a></li>
      </ul>
  </main>
{% endblock %}
