---
title: Terms - Future Works
description: Future Works description
pageName: termsPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    {% include 'pages/terms/_text-bl.twig' %}
  </main>
{% endblock %}
