---
title: Values - Future Works
description: Values description
pageName: valuesPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
      {% include 'pages/values/_banner-slider.twig' %}
      {% include 'pages/values/_values-about.twig' %}
      {% include 'pages/values/_smarter.twig' %}
      {% include 'pages/values/_values-place.twig' %}
      {% include 'pages/values/_banner-dark.twig' %}
  </main>
{% endblock %}