---
title: Why - Future Works
description: Why description
pageName: whyPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
      {% include 'pages/why/_banner-slider.twig' %}
      {% include 'pages/why/_why-about.twig' %}
      {% include 'pages/why/_talent.twig' %}
      {% include 'pages/why/_regeneration.twig' %}
      
      {% include 'pages/why/_banner-dark.twig' %}
  </main>
{% endblock %}