<div class="terms-page full-section section-hidden full-section_first pb--30-tb wrapper">
  <div class="terms-page__deco">
    {% include 'blocks/_deco.twig' %}
  </div>

  <div class="container container_sm">
    <div class="cap-page txt-center">
      <div class="tt-site tt-site_h1"><b>Terms of Use</b></div>
    </div>
    <div class="txt-bl txt-st">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta, lectus a sagittis dapibus, nulla sem sagittis nunc, eu iaculis orci lectus nec eros. Mauris luctus et tellus a imperdiet. Praesent nec nisi sodales, ultrices nulla in, convallis lorem. Integer eros quam, commodo sit amet blandit id, mattis et dolor. </p>
      <p>Mauris eget sapien vitae massa tristique gravida. Integer scelerisque, nibh sed congue rhoncus, ante magna egestas quam, non rhoncus dui nisl nec purus. Phasellus commodo sed dui elementum euismod. Quisque auctor scelerisque ex vitae sagittis. Aenean hendrerit quam vitae arcu eleifend, sed maximus orci pellentesque. </p>
      <p>Nulla aliquam enim nec diam iaculis dapibus. Mauris malesuada magna at lacus tempus pulvinar. Praesent nec est sit amet nibh dapibus malesuada. Mauris id ligula sit amet eros vehicula pharetra ac et ligula. Vivamus ultricies pulvinar justo tempus ullamcorper. In in viverra lectus.</p>
      <p>Donec sit amet feugiat lorem. Sed facilisis, erat nec feugiat pulvinar, orci metus semper tellus, at varius eros nibh sit amet lorem. Pellentesque rutrum molestie ligula, ut mollis nisl malesuada ac. Fusce hendrerit velit eu auctor ultricies. Nulla at tempor sapien. Vestibulum efficitur diam enim, sit amet commodo libero cursus quis. In at neque mollis, euismod nunc id, dictum erat. Etiam luctus tincidunt ligula, quis venenatis mauris volutpat sed. </p>
      <p>Morbi blandit, dui sit amet pellentesque gravida, nulla nulla scelerisque sapien, sit amet sollicitudin diam mauris eget erat. Nullam molestie tincidunt felis vel commodo. Maecenas condimentum sollicitudin ante. Ut porttitor ex non ultricies lobortis. Vestibulum elementum orci mi, nec rutrum diam varius quis. Nullam non mattis lacus, eget tempor purus. Praesent vestibulum egestas erat vitae molestie. Nulla facilisi.</p>
      <p>Ut ornare congue augue, et commodo nisl auctor sit amet. Vestibulum sit amet massa quis sem ullamcorper placerat viverra a tortor. In hendrerit nisi nisl, eget sollicitudin neque laoreet quis. Phasellus tincidunt mollis fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas ut erat sollicitudin, consectetur sem eget, dictum leo. </p>
      <p>Proin elementum lectus sed rhoncus pharetra. Vestibulum imperdiet leo eros, et commodo massa maximus vitae. Cras convallis lectus dolor, non dictum nisi dictum ultricies.</p>
    </div>
  </div>
</div>
