#hiro-tabs {
  &:not(.open) {
    display: none;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}
.card-st_mob-picture {
  @media (max-width: $md) {
    .card-st__picture {
      height: 0px;
      transition: height 0.5s ease-in-out;
    }
    // &:focus, &:hover,
    &._active {
      .card-st__picture {
        height: 217px;
      }
    }
  }
}

.point-value {
  text-align: center;
  display: flex;
  flex-direction: column;

  >*+* {
    margin-top: 5px;
  }
  &__tt {
    color: $accent-green;
    font-size: 60px;
    line-height: 1;
    @media (max-width: $lg) {
      font-size: 40px;
    }
    @media (max-width: $md) {
      font-size: 60px;
    }
  }
  &__txt {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 14px;
    text-transform: uppercase;
  }
}

.grd-st_value {
  grid-column-gap: 20px;
  grid-row-gap: 60px;
  @media (max-width: $md) {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}

.point-value__btn {
  max-width: 375px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 10px;
}

.section-st_tp-big-bt-big2 {
  padding: 100px 0 200px;
  @media (max-width: $md) {
    padding-bottom: 130px;
  }
}

.slider-one-img {
  height: 737px;
  width: 100%;
  overflow: hidden;
  @media (max-width: $lg) {
    height: 600px;
    margin-left: -34px;
    margin-right: -34px;
    width: auto;
  }
  @media (max-width: $md) {
    height: 540px;
  }
  @media (max-width: $xxs) {
    margin-left: -15px;
    margin-right: -15px;
  }
  .swiper-container {
    height: 100%;
  }
  img, video, picture, iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sct-ava-icons {
  position: relative;
  padding-top: 195px;
  padding-bottom: 200px;

  &__deco {
    position: absolute;
    width: 420px;
    top: 68%;
    left: 0;
    transform: translate(-84%, -50%);
    z-index: -1;

    @include lg-down {
      transform: translate(-95%, -50%);
    }
    @include sm-down {
      display: none;
    }
  }
}

.grd-st_card-icon {
  grid-row-gap: 50px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-icon {
  text-align: center;
  &__icon {
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__info {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 14px;
  }
}

.card-icon__icon {
  .icon {
    color: $accent-blue;
  }
}

.card-icon__icon_light {
  .icon {
    color: $accent-green;
  }
}

.off-grid, .acc-grid {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: 1.27fr 1fr;
  @media (max-width: $lg) {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }


  svg {
    [data-layer] {
      cursor: pointer;
    }
  }
}

.acc-grid {
  position: relative;

  &__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 484px;
    transform: translate(-8%, 4%);
    z-index: -1;

    @include sm-down {
      width: 277px;
      transform: translate(0, 4%);
    }
  }
}

.off-grid__right {
  @include lg-down {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.table-desc {
  color: $color-cod-gray;
  line-height: 18px;
  margin-top: 7px;
}

.to-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr minmax(100px, 1fr);
  transition: background-color .3s;
  cursor: pointer;
}

.table-office__cap {
  .to-row {
    grid-auto-flow: column;
    grid-template-columns: auto;
  }
}

.to-th, .to-td {
  text-align: center;
  text-transform: uppercase;
  color: $color-cod-gray;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 6px 5px;
  border-bottom: 1px solid #e6e8e6;
  &:first-child {
    text-align: left;
    padding-left: 10px;
  }
  &:last-child {
    text-align: right;
    padding-right: 19px;
  }
}

.table-office__body {
  .to-row {
    &:last-child {
      .to-th, .to-td {
        border-bottom: 2px solid $color-cod-gray;
      }
    }
  }
}
.to-th {
  border-bottom: 2px solid $color-cod-gray;
}

.section-main {
  margin-top: 175px;
  margin-bottom: 175px;
  position: relative;

  &__deco {
    position: absolute;
    width: 390px;
    top: 50%;
    right: 0;
    transform: translate(75%, -50%);

    @include sm-down {
      width: 250px;
      top: unset;
      bottom: 0;
      right: 0;
      transform: translate(30%, 125%);
    }
  }
}

.acc-bl {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $accent-aqua;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  &__body {
    font-size: 14px;
    line-height: 22px;
    transition: max-height 0.5s cubic-bezier(1,0,1,0);
    max-height: 999px;
    overflow: hidden;
    width: auto;
    height: auto;
    > * {
      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }
    }
    >*+* {
      margin-top: 15px;
    }
  }

  &._close {
    .acc-bl__body {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.7s cubic-bezier(0,1,0,1);
    }
  }
}

.acc-bl__head.btn-mega {
  margin-left: -23px;
  margin-right: -23px;
}

.btn-mega {
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 52px;
  padding-left: 23px;
  padding-right: 23px;

  &:focus, &:hover {
    background-color: $accent-aqua;
    color: #fff;
    .btn-mega__icon {
      svg path {
        fill: $accent-green !important;
      }
    }
  }
  &__txt {
    font-size: 40px;
    line-height: 45px;
    @media (max-width: $md) {
      font-size: 35px;
      line-height: 40px;
    }
  }
}

.pag-grid {
  display: grid;
  grid-gap: 105px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 278px));
  @media (max-width: $md) {
    grid-gap: 50px;
  }
}

svg {
  [data-layer] {
    fill: transparent !important;
    transition: fill .3s;

    &._active {
      
      .sct-office--blue & {
        fill: $accent-blue !important;
      }
      .sct-office--green & {
        fill: $accent-green !important;
      }
      .sct-office--aqua & {
        fill: $accent-aqua !important;
      }
    }
  }
}

.table-office .to-row._active {

  .sct-office--blue & {
    background-color: $accent-blue;
  }
  .sct-office--green & {
    background-color: $accent-green;
  }
  .sct-office--aqua & {
    background-color: $accent-aqua;
  }
}

.office-container {
  pointer-events: none;
}

.deco-availability {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  z-index: 1;
  transform: translate(-56%, -32%);
  user-select: none;

  @include sm-down {
    width: 350px;
    transform: translate(-61%, -60%) rotate(95deg);
  }
}