<div class="wrapper section-st section-st_frame pt--12 section-st_big-bottom">
  <div class="container">
    <div class="about-build">
      <div class="tt-site about-build__tt tt-site_h2 txt-normal tt-site_inner-green">Just a step <span>outside of London</span></div>
      <div class="txt-md txt-md_mb about-build__txt">
        <p>The Future Works has unrivalled connections to London and the South East. It’s next to Slough train station, which currently takes you to Paddington in 15 minutes. Opening in 2022, the Elizabeth Line will get to Bond Street in 32 minutes. With Heathrow Airport less than 20 minutes away, The Future Works couldn’t be better located for international travel.</p>
      </div>
      <div class="grd-logo">
        <img src="img/logo-collect1.svg" alt="logotype">
        <img src="img/logo-collect2.svg" alt="logotype">
      </div>
      <div class="main-station-wrapp" id="my-scrollbar">
        <div class="main-station-wrapp__inner">
          <div class="main-station">
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station1.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station2.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item main-station__item_active">
              <div class="main-station__name">
                <img src="img/txt-station3.svg" alt="icon">
              </div>
              <div class="main-station__dot">
                <img src="img/logo-station.svg" alt="logotype">
              </div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station4.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station5.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station6.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station7.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station8.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station9.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station10.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station11.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station12.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station13.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station14.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station15.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station16.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station17.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station18.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
            <div class="main-station__item">
              <div class="main-station__name">
                <img src="img/txt-station19.svg" alt="icon">
              </div>
              <div class="main-station__dot"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="calc-box">
        <div class="tt-site tt-site_h2 tt-site_inner-green mb--5"><span>Journey time </span>calculator</div>

        <div class="grid-calc">
          <div class="grid-calc__field">
            <span class="btn btn_max btn_txt-normal btn_left btn_disable btn_border btn_border_dark btn_md">Slough station</span>
          </div>
          <div class="grid-calc__txt">to</div>
          <div class="grid-calc__field">
            <select class="select-st">
              <option value="22">Reading</option>
              <option value="7">Maidenhead</option>
              <option value="3">Langley</option>
              <option value="5">Iver</option>
              <option value="6">West Drayton</option>
              <option value="15">Heathrow T2/T3</option>
              <option value="10">Hayes and Harlington</option>
              <option value="13">Southall</option>
              <option value="15">Hanwell</option>
              <option value="17">West Ealing</option>
              <option value="18">Ealing Broadway</option>
              <option value="22">Acton Mail Line</option>
              <option value="26">Paddington</option>
              <option value="30">Bond Street</option>
              <option value="32">Tottenham Court Road</option>
              <option value="35">Farringdon</option>
              <option value="37">Liverpool Street</option>
              <option value="45">Canary Warf</option>
            </select>
          </div>
        </div>

        <div class="grid-calc__value">
          <div class="grid-calc__value-txt">Your journey will take</div>
          <div class="grid-calc__value-point"><span class="js-time-count">22</span> min</div>
        </div>
      </div>
    </div>
  </div>
</div>
