<div class="bl-banner">
  <div class="bl-banner__frames">
    {% include 'blocks/_deco.twig' %}
  </div>
  <div class="bl-banner__frames-bottom">
    {% include 'blocks/_deco.twig' %}
  </div>
  
  <div class="bl-banner__inner">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide banner-slide">
          <div class="banner-slide__img">
            <img src="img/banner2.jpg" alt="">
          </div>
          <div class="banner-slide__info wrapper container">
            <h1>The Future <br> is better connected
            </h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
