<div class="wrapper section-st section-st_mega">

  <div class="container">
    <div class="box-news">
      <div class="box-news__item">
        <div class="bl-news bl-news_wrap bl-news_wrap_vert">
          <div class="bl-news__img">
            <img src="img/news2.jpg" alt="image">

            <div class="box-news__frames box-news__frames--right">
              {% include 'blocks/_deco.twig' %}
            </div>
          </div>
          <div class="bl-news__info">
            <div class="bl-news__info-wrap">
              <div class="bl-news__tt tt-site tt-site_h2 txt-normal"><span>The Hub</span> lorem ipsum</div>
              <div class="txt-md">
                <p>Seconds from a major transport hub and connections to every corner of the UK. And with Heathrow just 15 minutes away – the world.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
