<div class="travel-time section-st section-st_frame section-st_mega bg--accent-blue">

  <div class="travel-time__deco">
    {% include 'blocks/_deco.twig' %}
  </div>
  
  <div class="container">
    <div class="tt-site txt-center tt-site_h2 tt-site_h1-desk tt-site_inner-green mb--010 mb--7-mb txt-mb-normal txt-mb-normal"><b>Key <span>travel times</span></b></div>
    <div class="grd-st grd-st_value grd-st_two-col">
      <div class="point-value">
        <div class="point-value__txt">Train station</div>
        <div class="point-value__tt">3 min walk</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">Bus station</div>
        <div class="point-value__tt">2 min walk</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">M4</div>
        <div class="point-value__tt">6 min drive</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">Heathrow</div>
        <div class="point-value__tt">15 min drive/train</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">Windsor &amp; Eaton Central</div>
        <div class="point-value__tt">6 min train</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">Lorem upsum dolor</div>
        <div class="point-value__tt">10 min train</div>
      </div>
    </div>
  </div>
</div>
