<section class="regeneration">
  <div class="regeneration__cont">
    
    <div class="regeneration__grid">
      <figure class="regeneration__figure">
        <img src="img/why-aerial-view.png" alt="" class="regeneration__img">
      </figure>

      <h2 class="regeneration__title">Regeneration in <span>Slough</span></h2>
      <p class="regeneration__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <h3 class="regeneration__subtitle"><span>Investment figures</span> in Slough</h3>

      <div class="regeneration__info">
        <div class="regeneration__info-item">
          <div class="regeneration__info-number regeneration__info-number--green">£4Bn</div>
          <p class="regeneration__info-text">Regeneration investment into the borough</p>
        </div>

        <div class="regeneration__info-item">
          <div class="regeneration__info-number regeneration__info-number--blue">£450m</div>
          <p class="regeneration__info-text"> in new town centre developments</p>
        </div>
      </div>
    </div>
  </div>

  <div class="regeneration__slider">
    <div class="gallery">
      <div class="gallery__wrapper">

        <div class="gallery__slide">
          <img src="img/why-gallery-slide-1.jpg" alt="" class="gallery__img">
        </div>

        <div class="gallery__slide">
          <img src="img/home-hero-bg.jpg" alt="" class="gallery__img">
        </div>

        <div class="gallery__slide">
          <img src="img/why-gallery-slide-1.jpg" alt="" class="gallery__img">
        </div>

        <div class="gallery__slide">
          <img src="img/home-hero-bg.jpg" alt="" class="gallery__img">
        </div>

      </div>

      <div class="gallery__cont">
        <div class="gallery__pagination pagination"></div>
      </div>

    </div>
  </div>

  <div class="regeneration__places">
    <div class="regeneration__cont">
      <div class="info info--alt">
        <div class="info__grid">
          <div class="info__figure info__figure--wide">
            <img src="img/why-places-1.jpg" alt="" class="info__img">

            {# <div class="info__deco info__deco--small">
              {% include 'blocks/_deco.twig' %}
            </div> #}
          </div>
          <div class="info__content">
            <h2 class="info__title"><span>Windsor Castle,</span> sectetur adipiscing elit, sed do eiusmod tempor</h2>

            <div class="info__text info__text--small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.
            </div>
          </div>

        </div>
      </div>

      <div class="info">
        <div class="info__grid">
          <div class="info__figure info__figure--wide info__figure--left">
            <img src="img/why-places-2.jpg" alt="" class="info__img">

            <div class="info__deco">
              {% include 'blocks/_deco.twig' %}
            </div>
          </div>
          <div class="info__content">
            <h2 class="info__title info__title--blue"><span>Black Park Country Park,</span> sectetur adipiscing elit, sed do eiusmod tempor </h2>

            <div class="info__text info__text--small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.
            </div>

          </div>

        </div>
      </div>

      <div class="info info--alt">
        <div class="info__grid">
          <div class="info__figure info__figure--wide">
            <img src="img/why-places-3.jpg" alt="" class="info__img">

            {# <div class="info__deco info__deco--small">
              {% include 'blocks/_deco.twig' %}
            </div> #}
          </div>
          <div class="info__content">
            <h2 class="info__title"><span>Waterside Inn</span>, sectetur adipiscing elit, sed do eiusmod tempor </h2>

            <div class="info__text info__text--small">
              The Future Works is packed with people-driven technology. Our tailor-made smart building app promotes sustainability and wellness, connecting occupiers to the building’s systems and community.
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
</section>