<section class="talent">
  <div class="talent__deco-wrapper">
    <div class="talent__deco">
      {% include 'blocks/_deco.twig' %}
    </div>
  </div>
  
  <div class="talent__cont">
    
    <div class="talent__grid">
      <h2 class="talent__title">Slough's <span>got talent</span></h2>
      <p class="talent__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <div class="talent__items">

        <div class="talent__item talent__item--green">
          <div class="talent__item-inner">
            <div class="talent__circle">
              {%  include 'svg/_circle.svg.twig' %}
              <div class="talent__item-title">Great connections to London and South East</div>
            </div>
          </div>
        </div>

        <div class="talent__item talent__item--blue">
          <div class="talent__item-inner">
            <div class="talent__circle">
              {%  include 'svg/_circle.svg.twig' %}
              <div class="talent__item-title">Unrivalled local talent pool</div>
            </div>
          </div>
        </div>

        <div class="talent__item talent__item--green">
          <div class="talent__item-inner">
            <div class="talent__circle">
              {%  include 'svg/_circle.svg.twig' %}
              <div class="talent__item-title">UK’s best <br>place to work*</div>
            </div>
          </div>
        </div>
      </div>
      <div class="talent__note">*Glassdoor (2017, 2018 and 2019)</div>
    </div>
  </div>
</section>