<section class="why-about">
  <div class="why-about__container">
    <div class="why__grid">
      <h2 class="why-about__title">Lorem ipsum <span>dolor</span></h2>
      <p class="why-about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>

      <div class="why-about__partners">
        <div class="why-about__partner">
          <img src="img/logo-partner-1.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-2.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-3.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-4.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-5.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-6.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-7.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-8.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-9.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-10.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-11.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-12.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-13.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-14.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-15.svg" alt="" class="why-about__partner-logo">
        </div>
        <div class="why-about__partner">
          <img src="img/logo-partner-16.svg" alt="" class="why-about__partner-logo">
        </div>
      </div>
    </div>
    
    
 </div>
</section>