.icon {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  fill: currentColor;
}

.icon_blob {
  width: 49px;
  height: 40px;
}

.icon_blob-left {
  width: 49px;
  height: 40px;
}

.icon_btn-down {
  width: 50px;
  height: 50px;
}

.icon_btn-triangl {
  width: 44px;
  height: 38px;
}

.icon_castle {
  width: 16px;
  height: 21px;
}

.icon_castle-big {
  width: 40px;
  height: 45px;
}

.icon_castle-big2 {
  width: 39px;
  height: 45px;
}

.icon_checkbox {
  width: 10px;
  height: 8px;
}

.icon_chevrob-big-down {
  width: 70px;
  height: 70px;
}

.icon_chevron-down {
  width: 15px;
  height: 8px;
}

.icon_chevron-left {
  width: 11px;
  height: 20px;
}

.icon_chevron-right {
  width: 11px;
  height: 20px;
}

.icon_close {
  width: 30px;
  height: 30px;
}

.icon_down {
  width: 47px;
  height: 45px;
}

.icon_fw {
  width: 41px;
  height: 18px;
}

.icon_fw-vert {
  width: 26px;
  height: 25px;
}

.icon_ic-ava1 {
  width: 25px;
  height: 31px;
}

.icon_ic-ava10 {
  width: 39px;
  height: 15px;
}

.icon_ic-ava11 {
  width: 23px;
  height: 35px;
}

.icon_ic-ava12 {
  width: 27px;
  height: 33px;
}

.icon_ic-ava2 {
  width: 20px;
  height: 35px;
}

.icon_ic-ava3 {
  width: 22px;
  height: 34px;
}

.icon_ic-ava4 {
  width: 31px;
  height: 31px;
}

.icon_ic-ava5 {
  width: 28px;
  height: 28px;
}

.icon_ic-ava6 {
  width: 35px;
  height: 31px;
}

.icon_ic-ava7 {
  width: 22px;
  height: 18px;
}

.icon_ic-ava8 {
  width: 25px;
  height: 25px;
}

.icon_ic-ava9 {
  width: 30px;
  height: 18px;
}

.icon_img {
  width: 36px;
  height: 36px;
}

.icon_message {
  width: 20px;
  height: 15px;
}

.icon_play {
  width: 52px;
  height: 57px;
}

