<div class="section-main">
  <div class="container">
    <div class="tt-site txt-center tt-site_h2 mb--7">Options <span>to suit your business</span> needs at No.2</div>

    <div class="acc-grid">
      <div class="acc-grid__deco">
        {% include 'blocks/_deco--aqua.twig' %}
      </div>
      <div class="acc-grid__left">
        <div class="acc-img-box">
          <img src="img/acc-img1.jpg" alt="image office">
        </div>
      </div>
      <div class="acc-grid__right">
        <div class="acc-blks">
          <div class="acc-bl">
            <div class="acc-bl__head btn-mega _active">
              <div class="btn-mega__txt">Conventional space</div>
              <div class="btn-mega__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="76" height="72" viewBox="0 0 76 72"><g><g><path fill="#0ed2fd" d="M33.927 8.09h9.243v2.02h-7.147v3.888h6.366v2.02h-6.366v5.412h-2.096zm-1.992 42.755l2.573 10.215 2.668-10.215h2.268l2.687 10.349 2.573-10.349h2.134l-3.43 13.34h-2.535l-2.553-9.928-2.554 9.929h-2.554l-3.43-13.34zM20.966 69.1a.978.978 0 0 1-.473-.12A37.384 37.384 0 0 1 .931 36.108 37.417 37.417 0 0 1 20.305 3.34a.995.995 0 0 1 .959 1.741A35.428 35.428 0 0 0 2.918 36.11a35.399 35.399 0 0 0 18.523 31.123.987.987 0 0 1 .478.592.988.988 0 0 1-.08.756zm35.122-.245a.996.996 0 0 1-.958-1.263.99.99 0 0 1 .47-.598c11.166-6.264 18.103-18.1 18.103-30.888A35.395 35.395 0 0 0 55.18 4.985a.987.987 0 0 1-.478-.591.995.995 0 0 1 1.426-1.155A37.38 37.38 0 0 1 75.69 36.105c0 13.507-7.325 26.007-19.117 32.622zm-17.722 3.036c-4.072 0-7.892-1.668-10.758-4.696-5.546-5.86-5.866-14.172-.778-20.214 1.334-1.447 2.684-2.922 4.034-4.398.926-1.012 1.851-2.024 2.777-3.032.178-.192.468-.308.773-.308.272 0 .528.092.702.253.185.171.298.436.31.727.01.291-.082.564-.253.75l-6.727 7.321c-4.47 5.31-4.191 12.32.68 17.466 2.508 2.65 5.78 4.11 9.216 4.11 3.434 0 6.687-1.46 9.16-4.113 2.563-2.749 3.89-5.928 3.837-9.196-.056-3.45-1.574-6.773-4.513-9.877L28.282 26.976c-3.263-3.448-5.02-7.349-5.085-11.282-.062-3.818 1.464-7.507 4.414-10.67C30.433 1.998 34.223.33 38.284.33c4.07 0 7.891 1.668 10.757 4.696 5.547 5.86 5.867 14.172.78 20.215a1472.343 1472.343 0 0 0-4.037 4.399c-.925 1.011-1.85 2.022-2.775 3.03-.183.199-.477.318-.787.318-.273 0-.53-.092-.704-.252a1.055 1.055 0 0 1-.316-.732c-.013-.293.079-.57.25-.757l6.75-7.319c4.473-5.31 4.193-12.32-.677-17.467-2.509-2.65-5.787-4.11-9.23-4.11-3.442 0-6.7 1.462-9.173 4.114-2.563 2.748-3.89 5.928-3.837 9.195.055 3.45 1.574 6.772 4.512 9.877l18.571 19.709c3.098 3.09 4.702 6.675 5.058 11.295-.006 3.552-1.61 7.44-4.403 10.673-2.806 3.01-6.596 4.676-10.656 4.676z"/></g></g></svg>
              </div>
            </div>
            <div class="acc-bl__body">
              <p>What is it: Conventional grade A office space</p>
              <p>Who’s it for: Ideal for companies looking for high quality, contemporary office space to tailor and design to their own needs – landlord fit out options are available</p>
              <p>Key point: <br>
                - Conventional office space on a conventional lease <br>
                - Can be tailored and custom designed <br>
                - From 7,000 sq ft up to 66,500 sq ft of available space <br>
                - 2.9m floor to ceiling height and panoramic views</p>
            </div>
          </div>
          <div class="acc-bl _close">
            <div class="acc-bl__head btn-mega">
              <div class="btn-mega__txt">Plug &amp; play</div>
              <div class="btn-mega__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="69" height="67" viewBox="0 0 69 67"><g><g><g><path fill="#00fa83" d="M67.179 33.293l-.005.518c-.287 17.067-14.718 30.818-32.478 30.818-17.938 0-32.482-14.03-32.482-31.336 0-17.306 14.544-31.336 32.482-31.336 17.76 0 32.191 13.751 32.478 30.818zm1.821 0l-.005-.547C68.692 14.722 53.452.2 34.696.2 15.752.2.393 15.017.393 33.293c0 18.276 15.359 33.093 34.303 33.093 18.756 0 33.996-14.522 34.3-32.546z"/></g><g><path fill="#00fa83" d="M53.48 43.25h2.466V23.921H53.48zM29.916 23.921h-2.524l3.383 19.329h2.523zm5.85 19.329l3.048-19.329h-2.523L33.299 43.25zm8.593 0l.003-.018-3.022-19.31h-2.526L41.84 43.25zm2.521 0l3.383-19.329h-2.521l-3.38 19.31.003.019zM15.252 32.005V26.03h9.814v-2.109H12.84V43.25h2.413v-9.218h8.04v-2.027z"/></g></g></g></svg>
              </div>
            </div>
            <div class="acc-bl__body">
              <p>What is it: Conventional grade A office space</p>
              <p>Who’s it for: Ideal for companies looking for high quality, contemporary office space to tailor and design to their own needs – landlord fit out options are available</p>
              <p>Key point: <br>
                - Conventional office space on a conventional lease <br>
                - Can be tailored and custom designed <br>
                - From 7,000 sq ft up to 66,500 sq ft of available space <br>
                - 2.9m floor to ceiling height and panoramic views</p>
            </div>
          </div>
          <div class="acc-bl _close">
            <div class="acc-bl__head btn-mega">
              <div class="btn-mega__txt">Serviced offices <br>&amp; co-working</div>
              <div class="btn-mega__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="41" viewBox="0 0 61 41"><g><g><g><path fill="#6cbd96" d="M.123 40.462H60.23v-1.154H.123z"/></g><g><path fill="#6cbd96" d="M.123 1.606H60.23V.45H.123z"/></g><g><path fill="#6cbd96" d="M2.602 11.046L5.924 31.08h-2.48L.123 11.046zM8.35 31.08H5.924l2.945-20.035h2.472l.003.02zm2.993-20.015l.003-.02h2.473l2.968 20.035h-2.48zm8.767-.02L16.788 31.08h2.478l3.321-20.035z"/></g><g><path fill="#6cbd96" d="M34.023 13.119c2.787 0 4.18 1.102 4.18 3.308 0 2.484-1.328 3.727-3.982 3.727h-5.703v-7.035zm6.722 17.962l-9.686-9.162 4.715-.057c1.675-.018 2.932-.503 3.77-1.457.838-.953 1.257-2.28 1.257-3.978 0-1.57-.57-2.86-1.708-3.868-1.14-1.008-2.594-1.513-4.363-1.513h-8.5V31.08h2.288v-8.519l9.007 8.52z"/></g><g><path fill="#6cbd96" d="M44.444 31.081h2.552V11.046h-2.552zM56.36 11.046l-9.363 9.474 9.7 10.561h3.534L50.305 20.52l9.531-9.474z"/></g></g></g></svg>
              </div>
            </div>
            <div class="acc-bl__body">
              <p>What is it: Conventional grade A office space</p>
              <p>Who’s it for: Ideal for companies looking for high quality, contemporary office space to tailor and design to their own needs – landlord fit out options are available</p>
              <p>Key point: <br>
                - Conventional office space on a conventional lease <br>
                - Can be tailored and custom designed <br>
                - From 7,000 sq ft up to 66,500 sq ft of available space <br>
                - 2.9m floor to ceiling height and panoramic views</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
