<div class="sct-ava-icons">
  <div class="sct-ava-icons__deco">
    {% include 'blocks/_deco.twig' %}
  </div>
  
  <div class="container">
    <div class="cap-page txt-center cap-page_max-width">
      <div class="tt-site tt-site_h2 tt-site_inner-blue">Packed with <span>First-Class</span> Amenities</div>
      <div class="txt-md">
        <p>The Future Works offers all the premium amenities you would expect to find in Central London’s most desirable offices. Each selected to promote wellbeing, The Future Works has comfort, productivity and sustainability in mind.</p>
      </div>
    </div>
    <div class="grd-st grd-st_card-icon grd-st_four-col mb--10">
      <div class="card-icon">
        <div class="card-icon__icon">
          <img src="img/icons/ic-ava1.svg" alt="icon">
        </div>
        <div class="card-icon__info">WIRED CERTIFIED <br> PLATINUM</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon">
          <img src="img/icons/ic-ava2.svg" alt="">
        </div>
        <div class="card-icon__info">SMARTSPACES <br>
          APP</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon">
          <svg class="icon icon_ic-ava3">
            <use xlink:href="img/sprite.svg#ic-ava3"></use>
          </svg>
        </div>
        <div class="card-icon__info">SMART VENDING <br>
          MACHINE</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon">
          <img src="img/icons/ic-ava4.svg" alt="icon">
        </div>
        <div class="card-icon__info">3,100 SQ FT COMMUNAL <br>
          ROOFTOP TERRACE</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon">
          <svg class="icon icon_ic-ava5">
            <use xlink:href="img/sprite.svg#ic-ava5"></use>
          </svg>
        </div>
        <div class="card-icon__info">FREE WI-FI IN <br>
          COMMUNAL AREAS</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon">
          <svg class="icon icon_ic-ava6">
            <use xlink:href="img/sprite.svg#ic-ava6"></use>
          </svg>
        </div>
        <div class="card-icon__info">AMAZON <br>
          LOCKERS</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon">
          <svg class="icon icon_ic-ava7">
            <use xlink:href="img/sprite.svg#ic-ava7"></use>
          </svg>
        </div>
        <div class="card-icon__info">CONCIERGE <br>
          SERVICE RECEPTION</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon">
          <img src="img/icons/ic-ava8.svg" alt="icon">
        </div>
        <div class="card-icon__info">FULL ROOFTOP TERRACE <br>
          EVENTS PROGRAMME</div>
      </div>
    </div>
    <div class="cap-page txt-center cap-page_max-width">
      <div class="tt-site tt-site_h3 tt-site_inner-green"><b>End of <span>Journey</span></b></div>
    </div>
    <div class="grd-st grd-st_card-icon grd-st_four-col">
      <div class="card-icon">
        <div class="card-icon__icon card-icon__icon_light">
          <img src="img/icons/ic-ava9.svg" alt="icon">
        </div>
        <div class="card-icon__info">84 <br>
          CYCLE SPACES</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon card-icon__icon_light">
          <svg class="icon icon_ic-ava10">
            <use xlink:href="img/sprite.svg#ic-ava10"></use>
          </svg>
        </div>
        <div class="card-icon__info">48 SECURE  <br>
          PARKING SPACES</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon card-icon__icon_light">
          <svg class="icon icon_ic-ava11">
            <use xlink:href="img/sprite.svg#ic-ava11"></use>
          </svg>
        </div>
        <div class="card-icon__info">DEDICATED  <br>
          DRYING ROOM</div>
      </div>
      <div class="card-icon">
        <div class="card-icon__icon card-icon__icon_light">
          <svg class="icon icon_ic-ava12">
            <use xlink:href="img/sprite.svg#ic-ava12"></use>
          </svg>
        </div>
        <div class="card-icon__info">SHOWER AND <br>
          CHANGING FACILITIES</div>
      </div>
    </div>
  </div>
</div>
