{% set hiroOpen = {
  'defaultPage': '',
  'pagesPage': '',
  'homePage': '',
  'availabilityPage': 'open',
  'availabilityTwoPage': 'open',
  'availabilityThreePage': 'open',
  'buildingPage': ''
} %}
{% set hiroActive1 = {
  'availabilityPage': '_active',
  'availabilityThreePage': '',
  'availabilityTwoPage': ''
} %}
{% set hiroActive2 = {
  'availabilityPage': '',
  'availabilityTwoPage': '_active',
  'availabilityThreePage': ''
} %}
{% set hiroActive3 = {
  'availabilityPage': '',
  'availabilityTwoPage': '',
  'availabilityThreePage': '_active'
} %}

<div class="full-section section-st_dark section-st_frame section-hidden full-section_first-sm wrapper {{ hiroOpen[pageName] }}" id="hiro-tabs">

  <div class="deco-availability">
    {% include 'blocks/_deco.twig' %}
  </div>

  <div class="container">
    <div class="grd-st grd-st_three-col">

      <a href="availability3.html" class="card-st card-st_mob-picture {{ hiroActive3[pageName] }}">
        <div class="card-st__picture">
          <img src="img/card1.jpg" alt="cards img">
          <div class="card-st__picture-txt">
            <span>Pre let opportunities</span>
          </div>
        </div>
        <div class="card-st__info">
          <div class="card-st__number txt-aqua tt-site tt-site_h3"><b>No.3</b></div>
          <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
          <div class="card-st__txt txt-md">
            <div>90,000 sq ft</div>
            <div>Pre let opportunities</div>
          </div>
        </div>
      </a>

      <a href="availability2.html" class="card-st card-st_mob-picture {{ hiroActive2[pageName] }}">
        <div class="card-st__picture">
          <img src="img/card2.jpg" alt="cards img">
          <div class="card-st__picture-txt">
            <span>Pre let opportunities</span>
          </div>
        </div>
        <div class="card-st__info">
          <div class="card-st__number txt-green tt-site tt-site_h3"><b>No.2</b></div>
          <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
          <div class="card-st__txt txt-md">
            <div>73,512 sq ft</div>
            <div>Available Now</div>
          </div>
        </div>
      </a>

      <a href="availability.html" class="card-st card-st_mob-picture {{ hiroActive1[pageName] }}">
        <div class="card-st__picture">
          <img src="img/card3.jpg" alt="cards img">
          <div class="card-st__picture-txt">
            <span>Pre let opportunities</span>
          </div>
        </div>
        <div class="card-st__info">
          <div class="card-st__number txt-blue tt-site tt-site_h3"><b>No.1</b></div>
          <div class="card-st__tt tt-site tt-site_h3"><b>The Future Works</b></div>
          <div class="card-st__txt txt-md">
            <div>170,000 sq ft</div>
            <div>Pre let opportunities</div>
          </div>
        </div>
      </a>

    </div>
  </div>

</div>
