<div class="sct-office sct-office--green">
  <div class="container">
    <div class="tt-site tt-site_h2 tt-site_inner-green">No.2 The Future Works <span>Availability</span></div>

    <div class="off-grid" data-office-svg>
      <div class="off-grid__left">
        <div class="table-office">
          <div class="table-office__cap">
            <div class="to-row">
              <div class="to-th">Floor</div>
              <div class="to-th">Net Areas</div>
              <div class="to-th">Availability</div>
            </div>
          </div>
          <div class="table-office__body">
            <div class="to-row" data-layer="Terrace">
              <div class="to-td">Terrace</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
            <div class="to-row" data-layer="8">
              <div class="to-td">8</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
            <div class="to-row" data-layer="7">
              <div class="to-td">7</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">BYBOX</div>
            </div>
            <div class="to-row" data-layer="6">
              <div class="to-td">6</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
            <div class="to-row" data-layer="5">
              <div class="to-td">5</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
            <div class="to-row" data-layer="4">
              <div class="to-td">4</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
            <div class="to-row" data-layer="3">
              <div class="to-td">3</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
            <div class="to-row" data-layer="2">
              <div class="to-td">2</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
            {# <div class="to-row" data-layer="2">
              <div class="to-td">2</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">FWI</div>
            </div> #}
            <div class="to-row" data-layer="1">
              <div class="to-td">1</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">WRK</div>
            </div>
            <div class="to-row" data-layer="G (Offices)">
              <div class="to-td">G (Offices)</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">WRK</div>
            </div>
            <div class="to-row" data-layer="G (Retail)">
              <div class="to-td">G (Retail)</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">Available</div>
            </div>
          </div>
          <div class="table-office__footer">
            <div class="to-row">
              <div class="to-td">Totals</div>
              <div class="to-td">x,xxx</div>
              <div class="to-td">xxx</div>
              <div class="to-td">&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="table-desc txt-sm">Basement car park (space for 48 cars, 5 electric car charging points and 84 bicycles)</div>
      </div>

      <div class="off-grid__right">
        {% include 'svg/_stacker-2.svg.twig' %}
        
      </div>

    </div>

  </div>
</div>
