<div class="section-main">

  <div class="section-main__deco">
    {% include 'blocks/_deco.twig' %}
  </div>
  
  <div class="container">
    <div class="tt-site txt-center tt-site_h3 mb--5"><b>Lorem ipsum dolor sit amet</b></div>
    <div class="pag-grid">
      <div class="pag-grid__left">
        <a href="#" class="btn btn_five btn_icon btn_icon_long btn_icon_right btn_min-width_mini">
          <span class="btn__icon btn__icon_left">
            <svg class="icon icon_chevron-left">
              <use xlink:href="img/sprite.svg#chevron-right"></use>
            </svg>
          </span>
          <span class="btn__icon-text">No.3 The Future Works </span>
        </a>
        <div class="mt--2 txt-sm txt-center">90,000 sq ft  |  Pre let opportunities</div>
      </div>
      <div class="pag-grid__right">
        <a href="#" class="btn btn_six btn_icon btn_icon_long btn_icon_right btn_min-width_mini">
          <span class="btn__icon-text">No.1 The Future Works</span>
          <span class="btn__icon btn__icon_right">
            <svg class="icon icon_chevron-right">
              <use xlink:href="img/sprite.svg#chevron-left"></use>
            </svg>
          </span>
        </a>
        <div class="mt--2 txt-sm txt-center">170,000 sq ft  |  Pre let opportunities</div>
      </div>
    </div>
  </div>
</div>
