<div class="container container_lg">
  <div class="slider-one-img-wrapp">
    <div class="slider-one-img-wrapp__deco">
      {% include 'blocks/_deco.twig' %}
    </div>

    <div class="slider-one-img" data-slide-img-one>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/slide1.jpg" alt="image">
          </div>
          <div class="swiper-slide">
            <img src="img/slide1.jpg" alt="image">
          </div>
          <div class="swiper-slide">
            <img src="img/slide1.jpg" alt="image">
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination_inner swiper-pagination_right"></div>
      </div>
    </div>
  </div>
</div>
