<div class="section-st section-st_tp-big-bt-big2">
  <div class="container">
    <div class="tt-site txt-center tt-site_h1_big tt-site_inner-green mb--010 mb--7-mb txt-mb-normal"><b><span>No.3 </span>The Future Works</b></div>
    <div class="grd-st grd-st_value grd-st_two-col">
      <div class="point-value">
        <div class="point-value__txt">Space from</div>
        <div class="point-value__tt">7,000-73,512 sq ft</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">Floor to ceiling height</div>
        <div class="point-value__tt">2.9 meters</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">Floors</div>
        <div class="point-value__tt">8 Floors</div>
      </div>
      <div class="point-value">
        <div class="point-value__tt">1:10</div>
        <div class="point-value__txt">Occupational density <br> (with the flexibility to enhance to 1:8)</div>
      </div>
      <div class="point-value">
        <div class="point-value__txt">COMPLETION</div>
        <div class="point-value__tt">Q3 2022</div>
      </div>
      <div class="point-value">
        <div class="point-value__btn">
          <a href="#" class="btn btn_md btn_max">Check Availability</a>
        </div>
      </div>
    </div>
  </div>
</div>
