<div class="error-page full-section section-hidden full-section_first-center pb--30-tb wrapper">
  
  <div class="error-page__deco">
    {% include 'blocks/_deco.twig' %}
  </div>
  <div class="error-page__deco-right">
    {% include 'blocks/_deco.twig' %}
  </div>
  

  <div class="container container_sm">
    <div class="txt-cntr">
      <div class="txt-cntr__tt tt-site txt-dark tt-site_h1_big-desk">404 Error</div>
      <div class="txt-st txt-cntr__sm">
        <p>Eu consequat ac felis donec et odio pellentesque diam. Sit amet mauris commodo quis. Sociis natoque penatibus et magnis dis parturient.</p>
      </div>
      <a href="#" class="btn btn_border btn_border_dark">Go back home</a>
    </div>
  </div>
</div>
