<section class="home-hero wrapper" style="background-image:url(img/home-hero-bg.jpg)">
    <div class="home-hero__deco-left">
        {% include 'blocks/_deco.twig' %}
    </div>

    <div class="home-hero__deco-right">
        {% include 'blocks/_deco.twig' %}
    </div>
    

    {# <div class="home-hero__left-decor">
        <img class="home-hero__blue-decor" src="img/brand-decor-default.svg" alt="">
        <img class="home-hero__green-decor" src="img/brand-decor-green.svg" alt="">
    </div>
    <div class="home-hero__right-decor">
        <img class="home-hero__blue-decor" src="img/brand-decor-default.svg" alt="">
        <img class="home-hero__green-decor" src="img/brand-decor-green.svg" alt="">
    </div> #}
    <div class="home-hero__container container">
        <h1 class="home-hero__title h1">Think different, work different.</h1>
        <div class="home-hero__txt txt-lg">
            <p>360,000 sq ft of sustainable Grade A office space across one inter-connected campus</p>
        </div>
        <a class="home-hero__btn btn btn_min-width" href="">Check Availability</a>
    </div>
</section>
