<section class="home-about">
  <div class="home-about__container container wrapper">
    <div class="home-about__block">

      <div class="info">
        <div class="info__grid">
          <div class="info__figure">
            <img src="img/home-about-1.jpg" alt="" class="info__img">

            <div class="info__deco">
              {% include 'blocks/_deco.twig' %}
            </div>
          </div>
          <div class="info__content">
            <h2 class="info__title">The <span>greenest</span> building in Slough – <span><em>literally</em></span></h2>

            <div class="info__text">
              We all need to do our bit for the environment. And to be fair, with The Future Works, we’ve done a very big bit. From green terraces to the rooftop gardens, and then some.
            </div>

            <a hre="#" class="info__btn btn btn_border btn_min-width_sm">Read more</a>
          </div>

        </div>
      </div>

      <div class="info info--alt">
        <div class="info__grid">
          <div class="info__figure info__figure--wide">
            <img src="img/home-about-2.jpg" alt="" class="info__img">

            <div class="info__deco info__deco--small">
              {% include 'blocks/_deco.twig' %}
            </div>
          </div>
          <div class="info__content">
            <h2 class="info__title"><span>Any smarter and it’d be on</span> Mastermind</h2>

            <div class="info__text">
              The Future Works is packed with people-driven technology. Our tailor-made smart building app promotes sustainability and wellness, connecting occupiers to the building’s systems and community.
            </div>

            <a hre="#" class="info__btn btn btn_border btn_min-width_sm">Read more</a>
          </div>

        </div>
      </div>

      <div class="info">
        <div class="info__grid">
          <div class="info__figure info__figure--wide">
            <img src="img/home-about-3.jpg" alt="" class="info__img">

            <div class="info__deco info__deco--medium info__deco--mob-r">
              {% include 'blocks/_deco.twig' %}
            </div>
          </div>
          <div class="info__content">
            <h2 class="info__title">You’ve just found your <span>happy place</span></h2>

            <div class="info__text">
              The Future Works campus gives you a healthier environment to work in. Our philosophy – healthy building = happy people.
            </div>

            <a hre="#" class="info__btn btn btn_border btn_min-width_sm">Read more</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>