<section class="home-b">
  <div class="home-b__container container wrapper">
    <h2 class="home-b__title">The best things come <span>in threes</span></h2>
    <h4 class="home-b__subtitle">Up to 73,512 sq ft Grade A office space available now</h4>

    <figure class="home-b__figure">
      <img src="img/home-b-plan.png" alt="" class="home-b__image">

      <div class="home-b__deco">
        {% include 'blocks/_deco.twig' %}
      </div>
    </figure>

    <div class="home-b__items">
      <div class="home-b__item">
        <div class="building-card">
          <a href="availability3.html" class="building-card__link"></a>
           <figure class="building-card__figure">
             <img src="img/building-card-1.jpg" alt="" class="building-card__img">
             <h3 class="building-card__state">Pre let opportunities</h3>
           </figure>
           <div class="building-card__main">
             <h3 class="building-card__title building-card__title--cyan">No.3</h3>
             <h3 class="building-card__title">The Future Works</h3>

             <div class="building-card__text">
               <p>90,000 sq ft</p>
               <p>Pre let opportunities</p>
             </div>
           </div>
        </div>
      </div>
      <div class="home-b__item">
        <div class="building-card">
          <a href="availability2.html" class="building-card__link"></a>
           <figure class="building-card__figure">
             <img src="img/building-card-2.jpg" alt="" class="building-card__img">
             <h3 class="building-card__state">Available Now</h3>
           </figure>
           <div class="building-card__main">
             <h3 class="building-card__title building-card__title--green">No.2</h3>
             <h3 class="building-card__title">The Future Works</h3>

             <div class="building-card__text">
               <p>73,512 sq ft</p>
               <p>Available Now</p>
             </div>
           </div>
        </div>
      </div>
      <div class="home-b__item">
        <div class="building-card">
          <a href="availability.html" class="building-card__link"></a>
           <figure class="building-card__figure">
             <img src="img/building-card-3.jpg" alt="" class="building-card__img">
             <h3 class="building-card__state">Pre let opportunities</h3>
           </figure>
           <div class="building-card__main">
             <h3 class="building-card__title building-card__title--purple">No.1</h3>
             <h3 class="building-card__title">The Future Works</h3>

             <div class="building-card__text">
               <p>170,000 sq ft</p>
               <p>Pre let opportunities</p>
             </div>
           </div>
        </div>
      </div>
      

    </div>
    
  </div>
</section>