<section class="home-news-before wrapper">
    <div class="container">
        <div class="box-news__item">
          <div class="bl-news bl-news_wrap bl-news--sm-center">
            <div class="bl-news__img bl-news__img--auto bl-news__img--sm-order-last">
              <div class="box-news__frames_home-1">
                {% include 'blocks/_deco.twig' %}
              </div>
              <img src="img/home-news-1.jpg" alt="image">
            </div>
            <div class="bl-news__info">
              <div class="bl-news__info-wrap">
                <div class="bl-news__tt tt-site tt-site_h2 txt-normal">The future <span>starts here</span></div>
                <div class="txt-lg">
                  <p>Change. There’s been a lot of it around recently. But sometimes, change is a good thing – it’s an opportunity to be different. Not just-for-the-sake-of-it different, but let’s-do-things-better different.</p>
                </div>
                <a class="bl-news__btn btn btn_border btn_min-width_sm" href="">See the campus</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
