<section class="news">
  <h2 class="news__title">What’s happening?</h2>
  <div class="news__slider">
    <div class="news__slider-wrapper">

      <div class="news__slide">
        <div class="news__slide-inner">
          <div class="news__slide-grid">
            <figure class="news__slide-figure">
              <img src="img/home-about-1.jpg" alt="" class="news__slide-img">
              <div class="news__slide-posted">
                <div class="news__slide-day">DD</div>
                <div class="news__slide-month">Month</div>
              </div>
            </figure>


            <div class="news__slide-content">
              <h4 class="news__slide-title">Lorem ipsum dolor sit amet</h4>

              <p class="news__slide-text txt-md">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <div class="news__slide-tags">
                <div class="news__slide-tag">Feature</div>
                <div class="news__slide-tag">News</div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="news__slide">
        <div class="news__slide-inner">
          <div class="news__slide-grid">
            <figure class="news__slide-figure">
              <img src="img/home-about-2.jpg" alt="" class="news__slide-img">
              <div class="news__slide-posted">
                <div class="news__slide-day">DD</div>
                <div class="news__slide-month">Month</div>
              </div>
            </figure>


            <div class="news__slide-content">
              <h4 class="news__slide-title">Lorem ipsum dolor sit amet</h4>

              <p class="news__slide-text txt-md">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <div class="news__slide-tags">
                <div class="news__slide-tag">Feature</div>
                <div class="news__slide-tag">News</div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="news__slide">
        <div class="news__slide-inner">
          <div class="news__slide-grid">
            <figure class="news__slide-figure">
              <img src="img/home-about-3.jpg" alt="" class="news__slide-img">
              <div class="news__slide-posted">
                <div class="news__slide-day">DD</div>
                <div class="news__slide-month">Month</div>
              </div>
            </figure>


            <div class="news__slide-content">
              <h4 class="news__slide-title">Lorem ipsum dolor sit amet</h4>

              <p class="news__slide-text txt-md">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <div class="news__slide-tags">
                <div class="news__slide-tag">Feature</div>
                <div class="news__slide-tag">News</div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div class="news__decos">
    <div class="news__deco news__deco--l">
      {% include 'blocks/_deco.twig' %}
    </div>
    <div class="news__deco news__deco--r">
      {% include 'blocks/_deco.twig' %}
    </div>
  </div>
  
  
</section>