<div class="pages-gallery">
  <div class="pages-gallery__grid">

    <div class="pages-gallery__item">
      <a href="#url" class="pages-gallery__item-link"></a>
      <img src="img/pages-gallery-1.png" alt="" class="pages-gallery__img">
      <h3 class="pages-gallery__item-title">Connectivity</h3>
    </div>

    <div class="pages-gallery__item">
      <a href="#url" class="pages-gallery__item-link"></a>
      <img src="img/pages-gallery-2.png" alt="" class="pages-gallery__img">
      <h3 class="pages-gallery__item-title">About Slough</h3>
    </div>
  </div>
</div>