<section class="smarter">
  <div class="smarter__decos">
    <div class="smarter__deco-l">
      {% include 'blocks/_deco.twig' %}
    </div>
    <div class="smarter__deco-r">
      {% include 'blocks/_deco.twig' %}
    </div>
  </div>
  

  <div class="smarter__container container wrapper">
    <h2 class="smarter__title">Any smarter and it’d be on <span>Mastermind</span></h2>

    <div class="smarter__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </div>

    <div class="smarter__items">

      <div class="smarter__item">
        <div class="ibox ibox--centered">
          <div class="ibox__icon-wrapper">
            {% include 'svg/_i-placeholder.svg.twig' %}
          </div>
          <div class="ibox__label">Contactless access</div>
        </div>
      </div>

      <div class="smarter__item">
        <div class="ibox ibox--centered">
          <div class="ibox__icon-wrapper">
            {% include 'svg/_i-placeholder.svg.twig' %}
          </div>
          <div class="ibox__label">visitor QR codes</div>
        </div>
      </div>

      <div class="smarter__item">
        <div class="ibox ibox--centered">
          <div class="ibox__icon-wrapper">
            {% include 'svg/_i-placeholder.svg.twig' %}
          </div>
          <div class="ibox__label">digital social wall</div>
        </div>
      </div>

      <div class="smarter__item">
        <div class="ibox ibox--centered">
          <div class="ibox__icon-wrapper">
            {% include 'svg/_i-placeholder.svg.twig' %}
          </div>
          <div class="ibox__label">energy usage monitoring</div>
        </div>
      </div>

      <div class="smarter__item">
        <div class="ibox ibox--centered">
          <div class="ibox__icon-wrapper">
            {% include 'svg/_i-placeholder.svg.twig' %}
          </div>
          <div class="ibox__label">occupancy sensors</div>
        </div>
      </div>

      <div class="smarter__item">
        <div class="ibox ibox--centered">
          <div class="ibox__icon-wrapper">
            {% include 'svg/_i-placeholder.svg.twig' %}
          </div>
          <div class="ibox__label">high speed internet</div>
        </div>
      </div>

    </div>

    <div class="smarter__video">
      <div class="video">
        <div class="video__btn">
          <img src="img/i-play.svg" alt="" class="video__icon">
        </div>
        <div class="video__holder">
          <iframe
              class="video__el"
              src="https://player.vimeo.com/video/531729396?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
              allowfullscreen
              allowtransparency
              allow="autoplay"
            ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>