<section class="values-about">
<div class="values-about__deco-top">
  {% include 'blocks/_deco.twig' %}
</div>

  <div class="values-about__container container wrapper">
    <h2 class="values-about__title">The <span>greenest</span> building in Slough - <span><em>literally</em></span></h2>
    <div class="values-about__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </div>

    <div class="values-about__specs">
      <div class="specs">
        <div class="specs__grid">
          <div class="specs__figure">
            <img src="img/values-about-1.jpg" alt="" class="specs__img">
          </div>
          <div class="specs__content">

            <div class="specs__content-grid">
              <div class="specs__item">
                <div class="specs__icon-wrapper">
                  <img class="specs__icon"></img>
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">PV renewable energy</div>
              </div>

              <div class="specs__item">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">rainwater harvesting</div>
              </div>

              <div class="specs__item">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">LED</div>
              </div>

              <div class="specs__item">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">electric car charging</div>
              </div>

              <div class="specs__item">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">BREEAM</div>
              </div>

              <div class="specs__item">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">net zero carbon</div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="info info--alt">
      <div class="info__grid">
        <div class="info__figure info__figure--wide">
          <img src="img/values-about-2.jpg" alt="" class="info__img">
          <div class="info__badge badge">
            Placeholder
          </div>

          <div class="info__deco info__deco--small-r">
            {% include 'blocks/_deco.twig' %}
          </div>
        </div>
        <div class="info__content">
          <h2 class="info__title info__title--mob-left"><span>Sustainability,</span> Lorem ipsum dolor sit amet, consectetur adip,</h2>

          <div class="info__text info__text--small">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
          </div>
        </div>

      </div>
    </div>


  </div>
</section>