<section class="values-place">
  <div class="values-place__container container wrapper">
    <h2 class="values-place__title">You’ve just found your <span>happy place</span></em></span></h2>
    <div class="values-place__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi unim id est laborum.
    </div>

    <div class="values-place__specs">
      <div class="specs">
        <div class="specs__grid">
          <div class="specs__figure">
            <img src="img/values-about-3.jpg" alt="" class="specs__img">
          </div>
          <div class="specs__content">

            <div class="specs__content-grid">
              <div class="specs__item specs__item--blue">
                <div class="specs__icon-wrapper">
                  <img class="specs__icon"></img>
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">Green terraces</div>
              </div>

              <div class="specs__item specs__item--blue">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">rooftop gardens</div>
              </div>

              <div class="specs__item specs__item--blue">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">gym & studio</div>
              </div>

              <div class="specs__item specs__item--blue">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">rooftop yoga</div>
              </div>

              <div class="specs__item specs__item--blue">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">bike racks</div>
              </div>

              <div class="specs__item specs__item--blue">
                <div class="specs__icon-wrapper">
                  {% include 'svg/_i-placeholder.svg.twig' %}
                </div>
                <div class="specs__label">showers</div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="info info--alt">
      <div class="info__grid">
        <div class="info__figure info__figure--wide">
          <img src="img/values-about-4.jpg" alt="" class="info__img">
          <div class="info__badge badge">
            Placeholder
          </div>

          <div class="info__deco info__deco--small-r">
            {% include 'blocks/_deco.twig' %}
          </div>
        </div>
        <div class="info__content">
          <h2 class="info__title"><span>Wellness,</span> Lorem ipsum dolor sit amet, consectetur adip,</h2>

          <div class="info__text info__text--small">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
          </div>
        </div>

      </div>
    </div>


  </div>
</section>